<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', path='/bulmaswatch.min.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            SpaTrEM
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/translations">Translations</a>
            <a class="navbar-item" href="/translators">Translators</a>
            <a class="navbar-item" href="/magazines">Magazines</a>
          </div>
          <div class="navbar-end">
            
          </div>
        </div>
      </nav>
        <main id="main">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
