{% extends "base.html" %}
{% block content %}
<div class="section">
  <div class="container">
    <h1 class="title">Translators</h1>
    <div class="columns">
      <div class="column is-one-quarter">
        <form method="POST" action="">
          {{ form.csrf_token }}
          
          <div class="field">
            <label class="label">{{ form.gender.label }}</label>
          </div>
          <div class="control">
            <div class="select is-narrow">
              {{ form.gender }}
            </div>
          </div>
          
          <div class="field">
            <label class="label">{{ form.nationality.label }}</label>
          </div>
          <div class="control">
            <div class="select is-narrow">
              {{ form.nationality }}
            </div>
          </div>
          
          <div class="field">
            <label class="label">{{ form.language_area.label }}</label>
          </div>
          <div class="control">
            <div class="select is-narrow">
              {{ form.language_area }}
            </div>
          </div>
          
          <div class="field">
            <label class="label">{{ form.sortby.label }}</label>
          </div>
          <div class="control">
            <div class="select is-narrow">
              {{ form.sortby }}
            </div>
          </div>

          <div class="field">
            <label class="label"></label>
            <div class="control">
              <input class="button" type="submit" value="Apply Filters">
            </div>
          </div>
        </form>
      </div> <!entity-- column -->
      
      <div class="column is-three-quarters">
        <table class="table" summary="translator table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Gender</th>
              <th>Nationality</th>
              <th>Language Area</th>
            </tr>
          </thead>
          <tbody>
            {% for translator in translators %}
            <tr>
              <td><a href="/translators/{{ translator.translator.split('/')[-1] }}">{{ translator.label }}</a></td>
              <td>{{ translator.gender }}</td>
              <td>{{ translator.nationality }}</td>
              <td>{{ translator.language_area }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> <!-- columns -->
  </div>
</div>
{% endblock %}

