{% extends "base.html" %}
{% block content %}
<section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title">{{ info.label }}</p>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-one-quarter">
      <h4 class="title is-4">Information</h4>
      <dl>
        <dt>Names</dt>            <dd>{{ info.names }}</dd>
        <dt>Birth</dt>            <dd>{{ info.birthDate }}</dd>
        <dt>Death</dt>            <dd>{{ info.deathDate }}</dd>
        <dt>Gender</dt>           <dd>{{ info.gender }}</dd>
        <dt>Nationality</dt>      <dd>{{ info.nationality }}</dd>
        <dt>Magazines</dt>        <dd>{{ info.magazines | join('; ')}}</dd>
        <dt>Source Languages</dt> <dd>{{ info.source_langs | join('; ') }}</dd>
        <dt>Target Languages</dt> <dd>{{ info.target_langs | join('; ') }}</dd>
        <dt>Genres</dt>           <dd>{{ info.genres | join('; ')}}</dd>
      </dl>
    </div>
    <div class="column is-three-quarters">
      <h4 class="title is-4">Authors Translated</h4>
      <ul>
        {% for author in info.authors %}
        <li>{{ author }}</li>
        {% endfor %}
      </ul>
    </div>
</section>
{% endblock %}
